# =========================
# Python (Backend)
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
.eggs/
*.manifest
*.spec
*.log
*.pot
*.mo
*.cover
*.pid
*.seed
*.sqlite3
db.sqlite3
*.db
*.db-journal

# Virtual Environments
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/

.env
.env.*

!.env.example

# Django
*.log
instance/
media/
staticfiles/
static/
template/
*.pot
*.mo
*.py[cod]
*.coverage
.coverage.*
htmlcov/
local_settings.py
.env
.env.*

# =========================
# JavaScript/Node.js (Frontend)
# =========================
node_modules/
dist/
*.log
*.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
output/
.cache/
.vite/

# Vue.js
public/hot
public/storage
*.local
*.env.local
*.env.*.local
.DS_Store

# =========================
# Build Artifacts
# =========================
coverage/
*.tsbuildinfo
*.map
*.gz
*.br

# =========================
# IDEs and Editors
# =========================
# VS Code
.vscode/
!.vscode/extensions.json

# PyCharm
.idea/

# Sublime Text
*.sublime-workspace
*.sublime-project

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# =========================
# Logs
# =========================
logs/
*.log
*.out
*.err

# =========================
# Docker
# =========================
*.dockerignore
docker-compose.override.yml

# =========================
# Git
# =========================
*.swp
*.swo
*.bak
*.orig
*.rej

# =========================
# OSRM
# =========================
/osrm/